<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeedsHome</title>
</head>

<body>

    <div>
        <div>RSS抓取频率：{{.RssCron}}</div>
        <hr />
        <div>当前抓取的RSS：</div>
        {{range $index,$value := .Feeds}}
        <div style="text-indent: inherit">
            {{$index}}. <a href="{{$value.FeedURL}}">{{$value.FeedName}}</a>：{{$value.FeedWeight}} | {{$value.NewContentTime.Format "2006-01-02 15:04:05"}} <br />
        </div>
        {{end}}

    </div>

</body>

</html>