<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        a:link {
            text-decoration: none;
            color: blue
        }

        a:active {
            text-decoration: blink
        }

        a:visited {
            text-decoration: underline;
            color: blue
        }

        a:hover {
            text-decoration: none;
            color: red
        }

        .description {
            color: #666666
        }

        .count {
            color: #333333;
            font-size: 0.8em;
        }

        .title {
            display: inline;
        }

        .content-detail {
            margin-left: 10px;
        }

        .yesterdayButton {
            margin: 10px;
            background-color: antiquewhite;
            display: inline;
        }

        .btn {
            margin: 5px;
        }
    </style>
    <title>News</title>
</head>

<body>

    <span><b>当前时间：{{.CurrentTime}}，数据时间：{{.FeedDate}}</b></span>

    {{ if eq .Mail false }}
    <div class="yesterdayButton">
        <a class="btn" href="/content?date={{.YesterdayString}}">前往昨天</a>
        <a class="btn" href="/content?date=">回到今天</a>
        <a class="btn" href="/config">设置</a>
        <a class="btn" href="/log?type=ERROR">抓取日志</a>
        <a class="btn" href="/log">抓取日志（全部）</a>
    </div>
    {{ end }}

    <br />
    <span>在{{.FeedDate}}，共有{{.FeedSize}}个RSS源发布了新的文章，总共{{.ContentSize}}篇</span>

    <hr />

    {{range .Content}}
    <details>
        <summary>
            <h2 class="title"><a href="{{.Link}}" target="_blank">{{.Title}}</a><span class="count">({{.Count}})</span>
            </h2>
        </summary>

        {{range $index,$value := .Item}}

        <div class="content-detail">
            <div>
                <h3>
                    <span>{{$index}}.</span>
                    <a href="{{$value.Link}}" target="_blank">
                        {{if $value.Title}} {{$value.Title}} {{else}}{{$value.Link}} {{end}}
                    </a>
                </h3>
            </div>

            <div>
                <p>发布时间：{{$value.PublishTime.Format "2006-01-02 15:04:05"}}(抓取时间：{{$value.CreateTime.Format "2006-01-02 15:04:05"}})</p>
            </div>

            {{if $value.Description}}
            <div>
                <p class="description">{{$value.Description}}</p>
            </div>
            {{end}}

        </div>
        {{end}}
    </details>

    <hr />

    {{end}}

</body>

</html>