<!doctype html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>抓取日志</title>

    <style>
        .failed {
            color: indianred;
        }

        .success {
            color: #333333;
        }
    </style>
</head>

<body>

    {{range .}}
    <div class="{{if eq .LogType "ALL"}}success{{else}}failed{{end}}">{{.CreateTime.Format "2006-01-02 15:04:05"}}：{{.Content}}</div>
    {{end}}

</body>

</html>